*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Segoe UI', Verdana, Arial;
	background: url('../img/fondo.jpg') no-repeat center fixed;
    background-size: cover;
}

h3{
	text-align: center;
	font-weight: normal;
}
h1{
	text-align: center;
}
p{
	text-align: center;
}

