* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}


body {
    font-family: "Segoe UI", verdana, sans-serif;
    background-color: #fafafa;

}

#tabs .ui-tabs-nav {
    border: none !important;
    font-size: 14px !important;
}

#tabs .ui-widget-header {
    border: none !important;
    background-color: transparent !important;
}

#tabs .ui-widget {
    border: none !important;
    background: transparent !important;
    color: #333;
}

.ui-widget-content {
    border: none !important;

}


header {
    padding: 0px 4px 0px 0px;
    position: fixed;
    /*position: relative;*/
    border-bottom: 1px solid #dedede;
    background-color: #ededed;
    overflow: hidden;
    left: 0;
    right: 0;
    z-index: 100;
}


nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

#menu {
    height: 100%;

}

#menu li {
    padding: 0px 5px;
    display: inline-block;
    list-style: none;
    height: 100%;
}

#menu li:hover a span, #menu li:hover a h6 {

    /*color:#030986;*/
    color: #222;
}

#menu li:hover {
    background-color: #ddd;
}

#menu a {
    text-decoration: none;
}

#menu span {
    color: #555;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    /*text-shadow: 0 1px 1px #0046a1;*/
}

#menu h6 {
    color: #555;
    font-weight: normal;
    font-size: 0.7rem;
    /*text-shadow: 0 1px 1px #0046a1;*/

}

header h3 {
    color: #555;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    padding: 10px;

}

header h3 span {
    margin-right: 10px;
    font-size: 180%
}

#subheader {
    padding: 50px 10px 10px 10px;
    background-color: #f5f5f5;
}

#subheader > div {
    display: inline-block;
}

#form > div {
    /*display: inline-block*/
}

.ui-datepicker {
    font-size: 80% !important;;
}

#form label {

    margin-right: 4px;
    display: block;
    font-size: .9rem;
}

#acta {
    display: block;
    width: 100%;
}

input[type="text"], select, input[type="date"], input[type="time"], textarea {
    border: 1px solid #e8e8e8;
    padding: 4px 2px;
    text-transform: uppercase;
    font-weight: bold;
    /*width: 60%;*/
    font-family: "Segoe UI", verdana, sans-serif;
    font-size: 0.75rem !important;
}

input[type="text"]:hover, select:hover, input[type="date"]:hover, input[type="time"]:hover, textarea:hover {
    border: 1px solid #d8d8d8;
}

input[type="text"]:focus, select:focus, input[type="date"]:focus, input[type="time"]:focus, textarea:focus {
    border: 1px solid #4C9ED9;

}

#contenido {
    /*margin-top: 10px;*/
    padding: 50px 10px 10px 10px;
    height: calc(100% - 150px);
    height: -moz-calc(100% - 150px);
    height: -webkit-calc(100% - 150px);
}


#section1 {
    height: 237px;
}

#section1 label {
    display: block;
    font-size: .9rem;
}

#section1 > div {

    float: left;

    width: 33.3%;

    position: relative;

    /*margin-bottom: 10px*/


}

#section1 > div .box-container {
    height: 100%;
    margin: 5px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #e8e8e8;

    background-color: #fff;
    /*background-image: url('../img/fondo.png');*/
}

/*Reglas para div infoDeprtamento */
#actaYorden > div {
    float: left;
}

#actaYorden > div:first-child {
    width: 49%;
    margin-right: 4px;
}

#actaYorden > div:last-child {
    width: 49%;
}

#box1-txtorden {
    display: block;
    width: 100%

}

#infoDpto {
    clear: left;
}

.input-cod {
    width: 20%;

}

.input-nombre {
    width: 78%;
}

#fechaYhora, #supervisorYcuadrilla, #tosYplacaYtipser {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    width: 100%;
}

#fechaYhora > div, #supervisorYcuadrilla > div, #tosYplacaYtipser > div {
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
}

#box1-txtFecha, #box1-txtHora, #box2-txtSupervisor, #box2-txtCuadrilla {
    width: 97%
}

#box2-txtTos, #box2-txtPlaca, #box2-txtTipServ {
    width: 96%;
}


fieldset {
    /*padding: 4px 10px 10px 10px;*/
    border: none;
}

legend {

    font-size: .9em;
    font-weight: 600;
}


#seccion2 {
    clear: both;

}

.ui-tabs {
    padding: 0;
    border: none;


}

.ui-tabs .ui-tabs-panel {
    padding: 20px 0 0 0 !important;
}

/*.ui-tabs .ui-tabs-nav li{
    margin: 0;
}
.ui-tabs .ui-tabs-nav{
     padding: 0;
     background-image: none;
     border:none;
     border-radius:0;
     background-color: #3d7ead;

}
.ui-tabs .ui-tabs-nav li.ui-tabs-active{
    padding-bottom: 0;

}
.ui-state-default .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border: none;
    background: #3d7ead;




}
.ui-tabs-anchor{

    border-left: 1px solid #31668c;


}
.ui-tabs-anchor:hover {
    background-color: #4289bd;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color:#ffffff;
}
.ui-corner-top{
    border-radius: 0;
}
.ui-state-active a{
    color:#ffffff;
    background-color: #4c9ed9;

    border-bottom:3px solid orange;

}*/

.ui-tabs .ui-tabs-panel {
    padding: 4px;
}

#tabs label {
    margin-right: 4px;
    display: block;
    font-size: .9rem;

}


.ui-tabs-panel, .ui-widget {
    background-color: #fafafa !important;
}

.tab-container {
    background-color: #f8f8f8;
    /*background-image: url('../img/fondo.png');*/

}

/*============tab1================*/
#tab1-box1, #tab1-box2, #tab1-box3 {
    float: left;
    width: 33.3%;
    height: 246px;
}

.tab1-box-container {
    height: 100%;
    margin-right: 10px;
    padding: 10px 10px 0px 10px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    /*background-image: url('../img/fondo.png');*/
}

#tab1-box3 .tab1-box-container {
    margin-right: 0;
}

#nicYnif > div {
    float: left;
    width: 50%;
}

#tab1-txtNic, #tab1-txtNif {
    width: 98%;
}

#tab1-txtNombre, #tab1-txtDireccion, #tab1-txtAtendio, #tab1-txtMt, #tab1-txtCT {
    width: 99%;

}

#tab1-txtCodBarrio, #tab1-txtCodPredio {
    width: 30%;
    margin-right: 4px;
}

#tab1-txtNombreBarrio, #tab1-txtNombrePredio {
    width: 68%;
}

#nisYestrato > div {
    float: left;
    width: 50%;
}

#tab1-txtNis, #tab1-txtEstrato {
    width: 98%;
}

#txtObservaciones {
    display: block;
    width: 100%;
    height: 150px;
    margin-top: 5px;

}


/*============fin tab1================*/
/*============tab2====================*/


#tab2 .tab-container > .container_fieldset {

    float: left;
    width: 25%;
    position: relative;

}

.container_fieldset fieldset {
    margin: 0 5px;
    border: 1px solid #e8e8e8;
    padding: 4px 10px 10px 10px;
    background-color: #fff;
}

.tab2-txtCodMedida, .tab2-txtCodCodigo, .tab2-txtCodMarca {
    width: 30%;
}

.tab2-txtNombreMedida, .tab2-txtNombreCodigo, .tab2-txtNombreMarca {
    width: 66%;
}

.tab2-txtSerie {
    display: block;
    width: 98%;
}

#lecturaYdigitos, #kdYfases, #khYrango, #acometidaYventa {

    width: 100%;
    position: relative;
    display: block;
}

#lecturaYdigitos > div, #kdYfases > div, #khYrango > div, #acometidaYventa > div {

    float: left;
    width: 48%;
    position: relative;
    display: block;

}

#lecturaYdigitos > div:first-child, #kdYfases > div:first-child, #khYrango > div:first-child, #acometidaYventa > div:first-child {
    margin-right: 6px
}

.tab2-txtLectura, .tab2-txtDigitos, .tab2-txtKd, .tab2-txtFases, .tab2-txtKh, .tab2-txtRango {
    display: block;
    width: 100%;
}

.tab2-longitudAcometida {
    clear: left;
    display: block;
    width: 100%;

}

#acometidaYventa > div:last-child {
    /*font-size: 70%;*/
    padding-top: 19px;
    /*font-family: verdana,Arial,sans-serif;*/
    color: #5F5F5F;
}

#tab2 span {
    font-size: 0.9rem
}

/*============fin tab2===============*/


/*============ tab 3 ================*/
/*#tab3-tablaSello, #tab4-tablaPruebasMedidor, #tab5-tablaMaterialObras, #tab6-tablaUnidades,#tab6-tablaIrregularidades,#tab7-tablaAnomalias,#tab7-tablaCenso{
    width: 100%;
    border-collapse:collapse;
}
#tab3-tablaSello tr.cabecera,#tab4-tablaPruebasMedidor tr.cabecera, #tab5-tablaMaterialObras tr.cabecera, #tab6-tablaUnidades tr.cabecera,#tab6-tablaIrregularidades tr.cabecera,#tab7-tablaAnomalias tr.cabecera,#tab7-tablaCenso tr.cabecera {

    background-color: orange;

}
#tab3-tablaSello tr.cabecera td,#tab4-tablaPruebasMedidor tr.cabecera td,#tab5-tablaMaterialObras tr.cabecera td, #tab6-tablaUnidades tr.cabecera td,#tab6-tablaIrregularidades tr.cabecera td,#tab7-tablaAnomalias tr.cabecera td,#tab7-tablaCenso tr.cabecera td{
    padding: 4px;
    text-align: center;
    font-family: verdana,Arial,sans-serif;
    color:#fff;
    border:1px solid #f97b00;
    text-shadow: 0 1px 1px #d76a00;

}

#tab3-tablaSello tr.fila td, #tab4-tablaPruebasMedidor tr.fila td,#tab5-tablaMaterialObras tr.fila td,#tab6-tablaUnidades tr.fila td,#tab6-tablaIrregularidades tr.fila td, #tab7-tablaAnomalias tr.fila td,#tab7-tablaCenso tr.fila td{
    padding: 2px;
    text-align: center;
    font-family: verdana,Arial,sans-serif;
    color:#5f5f5f;
    border:1px solid #D4D4D4;
}

#tab3-tablaSello tr:nth-child(2n+2) td, #tab4-tablaPruebasMedidor tr:nth-child(2n+2) td,#tab5-tablaMaterialObras tr:nth-child(2n+2) td,#tab6-tablaUnidades tr:nth-child(2n+2) td,#tab6-tablaIrregularidades tr:nth-child(2n+2) td, #tab7-tablaAnomalias tr:nth-child(2n+2) td, #tab7-tablaCenso tr:nth-child(2n+2) td{
    background-color: #e3e3e3;

}*/
/*============ fin tab 3 =============*/
/*============== tab 6 ===============*/
#tab6 .tab-container > div {
    float: left;
    width: 50%;

}

#tab6 .tab-container > div fieldset, #tab7 .tab-container > div fieldset {
    margin: 4px;
    background-color: #fafafa;
    padding-bottom: 4px;


}

/*============== fin tab 6 ===============*/
/*============== tab 7 ===============*/
#tab7 .tab-container > div {
    float: right;
}

#tab7 .tab-container > div:first-child {
    width: 70%;

}

#tab7 .tab-container > div:last-child {
    width: 30%;
    margin-top: 35px;
}

#tab7 .tab-container > div:first-child > div:first-child {
    text-align: right;
    padding: 4px;
}

#tab7 span {
    font-size: 0.9rem;
    /*font-family: verdana,Arial,sans-serif;*/
    color: #5f5f5f;
    padding: 0 4px;

}

#tab7-txtTotalCarga {
    width: 80px;
}

/*============== fintab 7 ===============*/
/* fin Reglas para div infoDeprtamento */
#fotoEvidencias > div {
    float: left;
}

#fotoEvidencias > div:first-child {
    width: 40%;
    height: 500px;
    overflow-y: scroll;

}

#fotoEvidencias > div:last-child {
    width: 60%;
    height: 500px;

}

#listaImagenes img {
    display: inline-block;
    width: 49%;
    height: 150px;
    margin: 1px;
}


#listaImagenes img:hover {
    opacity: 0.7;
    cursor: pointer;
}

#div-img {
    position: relative;
    width: 100%;
    padding: 0px;
    margin: auto;
    overflow: hidden;
    padding-left: 4px;
    /*box-shadow: 0px 0px 2px #8d8d8d;*/
}

#div-img:hover #title-img {
    top: 0;
}

#imgMaximizada img {
    width: 100%;
    height: 500px;

}

#title-img {
    position: absolute;
    top: -25;
    right: 0;
    left: 4;
    padding: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    /*font-family: verdana,Arial,sans-serif;*/
    font-size: 60%;
    text-align: center;
    transition: all .2s;
}

.img-selected {
    /*border-bottom: 4px solid #ff4500*/;
    /*border-bottom: 4px solid orange;*/
    opacity: 0.4;
}

#div-img:hover a#anterior {
    top: 0;
    left: 0;
    bottom: 0;
}

#div-img:hover a#siguiente {
    top: 0;
    right: 0;
    bottom: 0;
}

#anterior, #siguiente {
    width: 40px;
    text-decoration: none;
    color: #828282;
    /*font-family: verdana,Arial,sans-serif;*/
    font-size: 70%;
    font-weight: normal;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 1;

}

#anterior {
    top: 0;
    left: -40;
    bottom: 0;
    background-image: url('../img/ant.png');
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.2s;
}

#anterior:hover, #siguiente:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#siguiente {
    top: 0;
    right: -40;
    bottom: 0;
    background-image: url('../img/sig.png');
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.2s;
}


/*Reglas */

/*Reglas para div Placa y color */
.divrow > div {
    float: left;
}

.divrow > div:first-child {
    width: 49%;
    margin-right: 4px;
}

.divrow > div:last-child {
    width: 49%;
}
